@import url("https://use.typekit.net/ixd7fuk.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
  position: relative;
  background-color: #E2DEDD;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 135px;
  letter-spacing: 0.105em;
  text-align: center;
  color: #575757;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #575757;
}

h3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  color: #575757;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.785em;
  text-align: center;
  color: white;
  z-index: 10;
  position: relative;
}

.h4-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: #575757;
}

.h4-spaced-dark {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.785em;
  color: #575757;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
}

p {
  font-size: 16px;
  color: #575757;
  margin-bottom: 0px;
}

.p-normal {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #575757;
}

.p-gray {
  color: #9E9E9E;
}

.p-large {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #575757;
}

.p-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
}

li {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #575757;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.height-screen {
  height: 100vh;
}

.bg-text-large {
  font-size: 300px;
  font-weight: 500;
  line-height: 450px;
  letter-spacing: 0.105em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: white;
}

.color-splash-1 {
  background-color: #D1E7E8;
  width: 400px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  top: 50%;
  left: 50%;
  transform: translate(10%, -50%);
  opacity: 80%;
}
.color-splash-2 {
  background-color: #F6DEC8;
  width: 400px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  top: 50%;
  left: 50%;
  transform: translate(30%, -70%);
  opacity: 60%;
}

.btn-primary {
  border-radius: 50px;
  background-color: #E2DEDD;
  font-weight: 700;
  font-size: 20px;
  padding: 0.5rem 4rem;
  border: none;
  box-shadow: 6px 6px 12px rgba(87, 87, 87, 0.4), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
  position: relative;
  z-index: 10;
  color: #575757;
}

.gradient-vertical {
  background-image: linear-gradient(to bottom, #F5F5F5, #F6DEC8, #F5F5F5);
  padding: 6rem;
}

.top-space {
  margin-top: 6rem;
}

.clock-bg {
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-image: linear-gradient(#575757, rgba(87, 87, 87, 0)), url("images/ClockedInBG.jpg");
}

.paw-portraits-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.2)), url("images/PawPortraitsBG.jpg");
  transition: all 800ms ease;
}

.featured-project-text-container {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 6rem;
  width: 40%;
}

.menu-items {
  z-index: 2;
}

.menu-items:hover > .menu-item {
  opacity: 0.3;
}

.menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-background-pattern {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 10%, transparent 9%);
  background-position: 0% 0%;
  background-size: 40vmin 40vmin;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
}

.menu-items:hover ~ .menu-background-pattern {
  background-size: 35vmin 35vmin;
  opacity: 0.5;
}

/*# sourceMappingURL=App.css.map */
